# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.pid

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
.terraform.lock.hcl